@use 'scss/main' as *;

.sectionLine {
  grid-column: 1 / 2;
  position: absolute;
  height: 100%;

  @include breakpoint(tablet_landscape) {
    grid-column: 2 / 2;
  }

  &::before {
    @include line-decoration;

    content: "";
    height: rem(50);
  }

  &::after {
    @include line-decoration;

    content: "";
  }

  &__text {
    @include text-decoration;

    margin-top: rem(10);
    margin-bottom: rem(10);
  }
}

