$fonts: (
  sans-serif: (
    name: "Fira Sans",
    weights: (
      400,
      400i,
      700,
    ),
  ),
  monospace: (
    name: "Anonymous Pro",
    weights: (
      400,
      700,
    ),
  ),
);
