$light: #fff;
$dark: #000;

// palette
$alto: #d3d3d3;
$hippie-blue: #669bbc;
$thunderbird: #c1121f;
$half-colonial-white: #fdf0d5;
$swamp: #000e16;
$black-pearl: #041923;

$themes: (
  // globals
  dark: $dark,
  light: $light,
  text: $alto,
  text--em: $thunderbird,
  cta: $half-colonial-white,
  body-bg: $swamp,
  decoration: $thunderbird,
  watermark: rgba($hippie-blue, 0.2),
  card-bg: $swamp,
  card-bg--shadow:
    linear-gradient(166.78deg, rgba(0, 14, 22, 0) 9.51%, #000e16 100%),
  card-bg--shadow---reverse:
    linear-gradient(225deg, rgba(0, 14, 22, 0) 9.51%, #000e16 100%),
  input-border: $alto,
  input-placeholder: rgba($alto, 0.6),
  input--active: $half-colonial-white,
  input-fg: $alto,
  comment: rgba($alto, 0.6),
  // nav
  nav-item--mobile: $swamp,
  nav-item--active: $thunderbird,
  nav-bg: $half-colonial-white,
  nav-bg--shadow:
    linear-gradient(
      180deg,
      $swamp 0%,
      rgba(0, 14, 22, 0.453125) 53.12%,
      rgba(0, 14, 22, 0) 100%
    ),
  // hero
  hero-bg:
    linear-gradient(
      180deg,
      $swamp 0%,
      rgba(0, 14, 22, 0.453125) 53.12%,
      rgba(0, 14, 22, 0) 100%
    ),
  hero-scroll-down-bg: $swamp,
  hero-subtitle: rgba($alto, 0.6),
  // works
  works-bg: $black-pearl,
  // about
  about-bg: $swamp,
  // contact
  contact-bg: $dark,
  // footer
  footer-bg: $dark
);
